<p id="notice"><%= notice %></p>

<h1>Forums</h1>

<table class ="table">
	
  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td><h3><%= forum.characterName %></h3></td>
        <td><%= image_tag(forum.characterPicture, :alt => "Could not find image", :size=>"300x150") %></td>
        <td><h3><%= link_to 'Enter Forum', forum %></h3></td>
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if admin?%>
 <%= link_to 'New Forum', new_forum_path %>
<% end%>