<p id="notice"><%= notice %></p>
	<center>
<p>
  <h2><%= @forum.characterName %></h2>
</p>

<p>
	
  <%= image_tag(@forum.characterPicture, :alt => "Could not find image", :size=>"300x150") %>
  </br>
 </p>
 
	<%= form_for([@forum, Comment.new]) do|f| %>
	<%=f.text_area :content, :rows=>4, :cols=>40%>
		<div class = "actions">
			<%=f.submit "Post a Comment"%>
		</div>
	 <%end%>

	<%if@forum.comments.empty?%>
		<h3> You are the first to comment</h3>
	<%else%>
	
		<h2>All Comments</h2>
		<br>
		<%@forum.comments.reverse.each do |comment| %>
			<p>Posted by: <%= comment.user.username %>
			<br>
			--------------------------------
			<br>
			<strong>		<%=comment.content%> </strong>
			<br>
			--------------------------------
			<br>
			Posted: <%=time_ago_in_words(comment.created_at)%> - Up Votes: <%=comment.upVote%>
			<%if signed_in?%>
			<%= button_to 'Up Vote', comment_upvote_path(comment.id), method: :put %>
			<%end%>
			</p>
			<br>
		<%end%>
		
	<%end%>


<h4><%= link_to 'Back', forums_path %></h4>
	</center>