<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Favourite character:</strong>
  <%= @user.favouriteCharacter %>
</p>

<p>
  <strong>Rank:</strong>
   <%= @user.leaderboard.rankDivision%>
</p>

<p>
  <strong>Account Age:</strong>
    <%= @user.age%> Days
</p>
<p>
<strong>Your Address:</strong>
<%= image_tag"http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
</p>
<%= link_to 'Edit Account', edit_user_path(@user) %> |

<%if admin?%>
<%= link_to 'See all users', users_path %>
<%end%>