<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div id="search">
	<%= render 'search' %>
</div>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Favourite character:</strong>
  <%= @user.favouriteCharacter %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @user.leaderboard_id%> #putting user.leaderboard.rankDivision does not work here for some reason. It should show rankDivision
</p>

<p>
  <strong>Account Age:</strong>
    <%= @user.age%> Days
</p>
<p>
<strong>Your Address:</strong>
<%= image_tag"http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
</p>
<%= link_to 'Edit Account', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
